/* Copyright {{currentYear}} Tallo Inc.,
 *
 * This file is part of Celula.
 *
 * Celula is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
import React from 'react';
import PropTypes from 'prop-types';
import cx from 'classnames';

import './{{lowerCase componentName}}.less';

const {{properCase componentName}} = ({ className }) => {
  const classes = cx('ce-{{lowerCase componentName}}', className);

  return <div className={classes}>I am a {{properCase componentName}}.</div>;
};

{{properCase componentName}}.propTypes = {
  /**
   * A class name, or a string of class names, to add to the `{{properCase componentName}}`.
   */
  className: PropTypes.string,
  /**
   * Any inline styles you would like to add to the `{{properCase componentName}}`. See the React
   * [docs](https://reactjs.org/docs/faq-styling.html) for more.
   */
  style: PropTypes.object, // eslint-disable-line react/forbid-prop-types
};

{{properCase componentName}}.defaultProps = {
  className: '',
  style: {},
};

export default {{properCase componentName}};
